---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre la Plataforma"
	description="Una plataforma unificada para proyectos interdisciplinarios y sostenibles en la BUAP"
	pubDate={new Date('Mayo 08 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		A pesar de los esfuerzos de la BUAP por fomentar proyectos interdisciplinarios y sostenibles, la ausencia de una plataforma unificada dificulta la gestión eficiente de estas iniciativas. Actualmente, estudiantes, docentes e investigadores enfrentan barreras para la difusión de sus proyectos, la búsqueda de colaboradores adecuados y la coordinación efectiva de equipos de trabajo.
	</p>

	<p>
		La falta de un espacio digital centralizado limita la visibilidad de los proyectos y restringe las oportunidades de establecer conexiones estratégicas con actores clave dentro y fuera de la universidad, como empresas, instituciones gubernamentales y organizaciones de la sociedad civil. Esto no solo ralentiza la conformación de equipos multidisciplinarios, sino que también dificulta la integración de conocimientos provenientes de diferentes áreas, reduciendo el alcance e impacto de las iniciativas.
	</p>

	<p>
		Además, la carencia de herramientas para el seguimiento y documentación de proyectos impide evaluar su progreso, replicar buenas prácticas y evitar la duplicación de esfuerzos. Esto conlleva una subutilización de recursos y una menor eficiencia en la implementación de soluciones alineadas con los Objetivos de Desarrollo Sostenible (ODS).
	</p>

	<p>
		En este contexto, se vuelve imprescindible el desarrollo de una plataforma que facilite la creación, gestión y colaboración en proyectos académicos, permitiendo no solo optimizar el trabajo en equipo dentro de la comunidad universitaria, sino también fortalecer su impacto en la sociedad a través de redes de cooperación más amplias y estratégicas.
	</p>

	<p>
		<strong>Objetivos Generales del Sistema</strong>
	</p>
	<ul>
		<li>Crear un ecosistema digital inclusivo y colaborativo que integre los proyectos académicos de la BUAP y potencie la co-creación de soluciones innovadoras.</li>
		<li>Facilitar el intercambio de recursos entre estudiantes, docentes, investigadores y socios externos, promoviendo una cultura de innovación abierta y fortaleciendo la vinculación institucional.</li>
	</ul>

	<p>
		<strong>Objetivos Específicos del Sistema</strong>
	</p>
	<ul>
		<li>Facilitar la visibilidad de proyectos permitiendo la carga y clasificación de iniciativas por áreas científicas y temáticas relacionadas con los ODS (por ejemplo, energía limpia, educación inclusiva).</li>
		<li>Impulsar la conexión con actores externos integrando un espacio dedicado donde empresas, ONGs y organismos gubernamentales puedan identificar proyectos afines a sus intereses.</li>
		<li>Crear un repositorio de medición de impacto
