---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head >
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<section class="bg-white lg:grid lg:h-screen lg:place-content-center">
			<div class="mx-auto w-screen max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8 lg:py-32">
			  <div class="mx-auto max-w-prose text-center">
				<h1 class="text-4xl font-bold text-gray-900 sm:text-5xl">
				Un lugar donde puedes
				  <strong class="text-indigo-600"> aprender </strong>
				  sin limites
				</h1>
		  
				<p class="mt-4 text-base text-pretty text-gray-700 sm:text-lg/relaxed">
				  Enfocamos en la enseñanza de las mejores prácticas de desarrollo web, desde el diseño hasta la implementación.
				</p>
		  
				<div class="mt-4 flex justify-center gap-4 sm:mt-6">
				  <a
					class="inline-block rounded border border-indigo-600 bg-indigo-600 px-5 py-3 font-medium !text-white shadow-sm  "
					href="#"
				  >
					Empezar
				  </a>
		  
				  <a
					class="inline-block rounded border border-gray-200 px-5 py-3 font-medium text-gray-700 shadow-sm transition-colors hover:bg-gray-50 hover:text-gray-900 "
					href="#"
				  >
					Saber más
				  </a>
				</div>
			  </div>
			</div>
		  </section>
		<main>
			<h1>🧑‍🚀 Hola, Astronaut!</h1>
			<p>
				Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This
				template serves as a lightweight, minimally-styled starting point for anyone looking to build
				a personal website, blog, or portfolio with Astro.
			</p>
			<p>
				This template comes with a few integrations already configured in your
				<code>astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
				React, or Vue to your project.
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to
				<a href="https://docs.astro.build/">read the docs</a>
				or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out
				<a href="https://github.com/Charca/astro-blog-template">astro-blog-template</a>
				by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
